.menu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 16px;
}

button.menu-button {
	background-color: var(--light-grey);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	outline: none;
	font-family: "GT Alpina";
	font-size: 20px;
	cursor: pointer;
	display: flex;
}
