.newsletter-container {
	display: flex;
	padding: 20px;
	padding-top: 0px;
	flex-direction: column;
	align-items: flex-start;
	overflow: hidden;
}

.newsletter-container hr {
	border: none;
	height: 3px;
	width: 100%;
	background-color: black;
	margin: 0px -20px;
	padding: 0px 20px;
}

.newsletter-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px 0px;
}

.newsletter-info p {
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
}

.newsletter-header {
	width: 100%;
	height: 30px;
	text-align: justify;
	margin: 5px 0px;
	overflow-x: scroll;
	overflow-y: hidden;
	text-overflow: ellipsis;
	font-family: "GT Alpina Extended";
	font-weight: lighter;
	font-size: 35px;
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

.newsletter-header span {
	width: 100%;
	height: 0;
	display: inline-block;
}

.newsletter-title-wrapper {
	display: flex;
	white-space: nowrap;
	animation: ticker-slide 5s linear forwards infinite;
}

.newsletter-title-wrapper:hover {
	animation-play-state: paused;
}

@keyframes ticker-slide {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.newsletter-title {
	font-size: 30px;
	font-weight: 400;
	margin: 5px 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.newsletter-body {
	font-size: 16px;
	width: 250px;
	height: 160px;
	overflow: hidden;
}

.newsletter-body li {
	margin-left: -20px;
}

.newsletter-body li p {
	width: 220px;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 2px;
}

.newsletter-circle {
	position: relative;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	z-index: 10;
}

.newsletter-card {
	width: 300px !important;
	height: 400px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	outline: 2px solid transparent;
	outline-offset: -10px;
	cursor: pointer;
	position: relative;
	transition: transform 0.3s ease-in-out;
	margin: 0 auto;
	background-color: #fcf9e1;
}
